.btn-lightblue {
  color: rgb(10, 10, 10);
  border: 1px solid #999999;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background: lightblue;
  text-decoration: none;
}
 .btn-lightblue:hover {
  opacity: 4;
  text-decoration: none;
  color: white;
 }
